<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to('Home', '/') %></li>
    <li class="breadcrumb-item active" aria-current="page">New article</li>
  </ol>
</nav>

<%= form_with model: @work_form, builder: ShroomFormBuilder do |form| %>
    <%= form.hidden_field(:work_file, value: params[:work_file]) if params.key?(:work_file) %>
    <%= render 'form', form: %>
<% end %>
