<hr>

<div class="accordion mb-4" id="grobid">
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#teiBody" aria-expanded="false" aria-controls="teiBody">
            TEI (from Grobid)
        </button>
        </h2>
        <div id="teiBody" class="accordion-collapse collapse" data-bs-parent="#grobid">
        <div class="accordion-body">
            <pre class="mt-3"><code><%= tei %></code></pre>
        </div>
        </div>
    </div>
    <% if bibtex.present? %>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bibtexBody" aria-expanded="false" aria-controls="bibtextBody">
                    Bibtex(from Grobid)
                </button>
            </h2>
            <div id="bibtexBody" class="accordion-collapse collapse" data-bs-parent="#grobid">
            <div class="accordion-body">
                <pre class="mt-3"><code><%= bibtex %></code></pre>
            </div>
            </div>
        </div>
    <% end %>
</div>
